{% extends 'base.html' %}
{% block title %}
    Dashboard
{% endblock %}

{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
     {% include 'hims_common_templates/messages.html' %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Room
                    </div>
                    <div class="card-body">
                        <b>{{c_room}}</b>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Customer
                    </div>
                    <div class="card-body">
                        <b>{{c_cust}}</b>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Bookings
                    </div>
                    <div class="card-body">
                        <b>{{c_books}}</b>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}